.row
  display: flex

.col
  display: flex
  flex-direction: column
.center
  justify-content: center
  align-items: center

.center-self
  align-self: center

.start
  justify-content: flex-start
  align-items: center

.flex-1
  flex: 1

// section padding

.section-outer
  width: 100%
  display: flex
  justify-content: center
  padding-left: 12vw
  padding-right: 12vw

.section-inner
  width: 100%
  max-width: 1200px

// picture frames
[class*="frame-"]
  position: relative
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    z-index: 1
.frame-gold-tl::before
  background: $c-gold
  top: -1.25em
  left: -1.25em
.frame-gold-bl::before
  background: $c-gold
  bottom: -1.25em
  left: -1.25em
.frame-gold-tr::before
  background: $c-gold
  top: -1.25em
  right: -1.25em
.frame-gold-br::before
  background: $c-gold
  bottom: -1.25em
  right: -1.25em
