.row
  display: flex

.col
  display: flex
  flex-direction: column
.center
  justify-content: center
  align-items: center

.center-self
  align-self: center

.start
  justify-content: flex-start
  align-items: center

.flex-1
  flex: 1

// section padding

.section-outer
  width: 100%
  display: flex
  justify-content: center
  padding-left: 12vw
  padding-right: 12vw
@include media('<=phone')
  .section-outer
    padding-left: 6vw
    padding-right: 6vw
.section-inner
  width: 100%
  max-width: 1200px

// underline hovers
.red-underline
  display: inline-block
  position: relative
  &:hover
    transform: scale(1.1)
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    height: 3px
    width: 0
    transition: width 0s ease, background .5s ease
  &:after
    content: ''
    display: block
    position: absolute
    right: 0
    bottom: 0
    height: 3px
    width: 0
    background: #FE4539
    transition: width .5s ease
  &:hover:before
    width: 100%
    background: #FE4539
    transition: width .5s ease
  &:hover:after
    width: 100%
    background: transparent
    transition: all 0s ease
.blue-underline
  display: inline-block
  position: relative
  &:hover
    transform: scale(1.1)
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    height: 3px
    width: 0
    transition: width 0s ease, background .5s ease
  &:after
    content: ''
    display: block
    position: absolute
    right: 0
    bottom: 0
    height: 3px
    width: 0
    background: #4062BF
    transition: width .5s ease
  &:hover:before
    width: 100%
    background: #4062BF
    transition: width .5s ease
  &:hover:after
    width: 100%
    background: transparent
    transition: all 0s ease
.gold-underline
  display: inline-block
  position: relative
  &:hover
    transform: scale(1.1)
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    height: 3px
    width: 0
    transition: width 0s ease, background .5s ease
  &:after
    content: ''
    display: block
    position: absolute
    right: 0
    bottom: 0
    height: 3px
    width: 0
    background: #d1c589
    transition: width .5s ease
  &:hover:before
    width: 100%
    background: #d1c589
    transition: width .5s ease
  &:hover:after
    width: 100%
    background: transparent
    transition: all 0s ease
.grey-underline
  display: inline-block
  position: relative
  &:hover
    transform: scale(1.1)
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    height: 3px
    width: 0
    transition: width 0s ease, background .5s ease
  &:after
    content: ''
    display: block
    position: absolute
    right: 0
    bottom: 0
    height: 3px
    width: 0
    background: #828282
    transition: width .5s ease
  &:hover:before
    width: 100%
    background: #828282
    transition: width .5s ease
  &:hover:after
    width: 100%
    background: transparent
    transition: all 0s ease

// picture frames
[class*="frame-"]
  position: relative
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    z-index: 1
.frame-gold-tl::before
  background: $c-gold
  top: -1.25em
  left: -1.25em
.frame-gold-bl::before
  background: $c-gold
  bottom: -1.25em
  left: -1.25em
.frame-gold-tr::before
  background: $c-gold
  top: -1.25em
  right: -1.25em
.frame-gold-br::before
  background: $c-gold
  bottom: -1.25em
  right: -1.25em
