@import url('/fonts/Vonnes-Black.otf')
@import url('/fonts/Vonnes-BlackExtended.otf')
@import url('/fonts/Vonnes-Bold.otf')
@import url('/fonts/Vonnes-BoldCondensed.otf')
@import url('/fonts/Vonnes-Book.otf')
@import url('/fonts/Vonnes-BookExtended.otf')
@import url('/fonts/Vonnes-Exbold.otf')
@import url('/fonts/Vonnes-ExboldExtended.otf')
@import url('/fonts/Vonnes-TTBlackCond.otf')
@import url('/fonts/Vonnes-TTBlackExt.otf')
@import url('/fonts/Vonnes-TTBold.otf')
@import url('/fonts/Vonnes-TTBoldCond.otf')

.t-main-title
  font-family: 'VonnesTTBlackCond'
  font-size: 14.5rem
  text-transform: uppercase
.t-navbar
  font-family: 'VonnesTTBoldCond'
  font-size: 3.6rem
  text-transform: lowercase
.t-section-title-md
  font-family: 'VonnesTTBoldCond'
  font-size: 4.8rem
  text-transform: lowercase
.t-section-title-lg
  font-family: 'VonnesTTBoldCond'
  font-size: 9.6rem
  text-transform: lowercase
.t-footer-link
  font-family: 'Vonnes-BoldCondensed'
  font-size: 3.6rem
  text-transform: lowercase
.t-footer-minor
  font-family: 'VonnesTTBoldCond'
  font-size: 3.6rem
.t-body
  font-family: 'Vonnes-BookExtended'
  font-size: 1.6rem
